# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
#	user = Nathan Malishev
#	email = nathan@192-168-1-4.tpgi.com.au
[user]
	name = Nathan Malishev
	email = nathan.malishev@gmail.com
[push]
	default = matching
[alias]
    co = checkout
      ci = commit
        st = status
          br = branch
            hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
              type = cat-file -t
                dump = cat-file -p
[core]
	excludesfile = /Users/nathan/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	tool = kdiff3
	tool = kdiff3
	tool = vimdiff3
	tool = kdiff3
[diff]
	guitool = kdiff3
